.size
{
    width: 150px;
    height: 150px;
}

.line {
    height: 5px;
    background-color: #fc7405;
    background: linear-gradient(to right, #fc7405, rgb(247, 0, 255));
  }

[id] {
    scroll-margin-top: 5em;
 }
 
@media (max-width: 600px) {
  .divS{
    width: auto;
  }
}
