<article>
    <br>
    <section id="Intelprocessors">
        <div class="container">
            <div class="intro">
                <h2 class="text-end">Intel processors</h2>
                <p class="text-end"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores repellat
                    ratione ipsam cum recusandae temporibus. Iusto, illo. Ipsam tempore quisquam quae praesentium
                    assumenda
                    adipisci obcaecati ad quia cumque nam!</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 divS">
                            <a href="#IntelCoreI3">
                                <img class="img-fluid size" src="/img/IntelCoreI3.png">
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">Intel Core I3</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 divS">
                            <a href="#IntelCoreI7">
                                <img class="img-fluid size" src="/img/IntelCoreI7.png">
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">Intel Core I7</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <br>
                    <div class="row">
                        <div class="col-md-12 col-lg-5 divS">
                            <a href="#IntelCoreI5">
                                <img class="img-fluid size" src="/img/IntelCoreI5.png">
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">Intel Core I5</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <br>
                    <div class="row">
                        <div class="col-md-12 col-lg-5 divS">
                            <a href="#IntelCoreI9">
                                <img class="img-fluid size" src="/img/IntelCoreI9.png">
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">Intel Core I9</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>

    <p class="container line"></p>

    <section id="RAMmemories">
        <br>
        <div class="container">
            <div class="intro">
                <h2 class="text-start">RAM memories</h2>
                <p class="text-start"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores repellat
                    ratione ipsam cum recusandae temporibus. Iusto, illo. Ipsam tempore quisquam quae praesentium
                    assumenda
                    adipisci obcaecati ad quia cumque nam!</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 divS">
                            <a href="#IntelCoreI3">
                                <img class="img-fluid size" src="/img/DDR3.png">
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">DDR3 1866Mhz</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                        <div class="col">
                            <h3 class="name">DDR3 2000Mhz</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                        <div class="col">
                            <h3 class="name">DDR3 2200Mhz</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 divS">
                            <a href="#IntelCoreI3">
                                <img class="img-fluid size" src="/img/DDR4.png">
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">DDR4 2133Mhz</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                        <div class="col">
                            <h3 class="name">DDR4 2400Mhz</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                        <div class="col">
                            <h3 class="name">DDR4 2666Mhz</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
    </section>

    <p class="container line"></p>
    <br>
</article>