<footer class="py-5 bg-black">
    <div class="container">
        <p class="text-center text-white m-0 small">Copyright&nbsp;© TECSOMAC 2022</p>
    </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>